$nav-border-bottom-color: #3d3d3d;

.nav {
  padding: 20px 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border-bottom: 1px solid $nav-border-bottom-color;
}

.nav > div {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.nav > div > ul {
  display: flex;
  align-items: center;
  gap: 8px;
}

.nav > div > a {
  letter-spacing: 2px;
  font-size: clamp(24px, 1.4vw, 3rem);
}

.nav > div > a > strong {
  font-weight: 900;
}

.nav > div > ul > li > a {
  font-weight: bold;
  font-size: clamp(16px, 1vw, 19px);
  transition: 0.1s ease-in;
}

.nav > div > ul > li > a:hover {
  color: #fff;
}