$main_color: #646cff;
$main_hover_color: #5861ff;

.header {
  background-image: url("../../../public/images/header-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-height: 60vh;
}

.header_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  gap: 18px;
}

.header_wrapper em {
  color: $main_color;
}

.header_wrapper > h1 {
  font-size: 50px;
}

.header_wrapper > h2 {
  font-size: 42px;
}

.header_wrapper > button {
  border: 1px solid transparent;
  background-color: $main_color;
  transition: background-color 0.15s ease-in;
  font: normal bold 1.2rem "Timew New Roman", serif;
  letter-spacing: 1px;
  margin-top: 6px;
}

.header_wrapper > button:hover {
  background-color: $main_hover_color;
}

.header_wrapper > button:active {
  scale: 0.95;
}
